
body {
    background-color:#87CEEB
    background-color:rgba(135, 206, 235, .5);
    border: 2px solid 
    border: 2px solid rgba(72, 205, 49, 1)
}
p {
    background-color:#87CEEB
    background-color:rgba(135, 206, 235, .5);
    border: 2px solid 
    border: 2px solid rgba(72, 205, 49, 1)
}

header{
    background-color:(135,206,235);
}
